/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.main-container .portfolio-link, .main-container .link-nav, .main-container .auth-nav .link, .site-nav .link, .logo, .auth-nav__link, .footer__list .footer__link {
  text-decoration: none;
}

textarea {
  resize: none;
}

.site-nav, .auth-nav, .about-us__list, .work-list, .command .command__list, .command .command__list .command__item .command-social, .client .client__list, .footer__list, .button-container .button-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-container img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main-hero, .work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-button, .modal .form .service {
  font-family: Roboto;
  font-weight: bold;
  color: white;
  background-color: #2196F3;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.87;
  min-width: 200px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.main-container {
  font-family: Roboto, Calibri;
  letter-spacing: 0.03em;
  margin: 0 auto;
  padding: 0;
}

.main-container .portfolio-header {
  border-bottom: 1px solid #ececec;
}

.main-container textarea {
  resize: none;
}

.container {
  width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page-header {
  position: relative;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .main-nav .menu-button__icon {
    display: none;
  }
}

.menu-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .menu-container {
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-top: 1px solid #ECECEC;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    padding-top: 58px;
    padding-bottom: 82px;
  }
}

@media screen and (max-width: 767px) {
  .menu-container.is-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu-button {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
}

.menu-button .menu-button__icon--cross {
  display: none;
}

.menu-button.is-open .menu-button__icon--cross {
  display: block;
}

.menu-button.is-open .menu-button__icon--menu {
  display: none;
}

.site-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 84px;
}

@media screen and (min-width: 1199px) {
  .site-nav {
    margin-right: 305px;
  }
}

.site-nav__item:nth-child(-n + 2) {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .site-nav__item:nth-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item + .site-nav__item {
    margin-left: 50px;
  }
}

.site-nav__link--active::after {
  display: block;
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  bottom: 0;
  background: #2196F3;
  border-radius: 2px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--active:hover::after, .site-nav__link--active:focus::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@media screen and (max-width: 767px) {
  .site-nav__link--active {
    padding-bottom: 8px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__link--active {
    padding-top: 32px;
    padding-bottom: 29px;
  }
}

.site-nav .link {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #212121;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link.current {
  color: #2196F3;
}

.site-nav .link.current::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.site-nav .link:hover, .site-nav .link:focus, .site-nav .link:active {
  color: #2196F3;
}

@media screen and (max-width: 767px) {
  .site-nav .link {
    font-size: 18px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 768px) {
  .site-nav .link {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 767px) {
  .site-nav {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: Raleway;
  color: #2196F3;
  font-weight: bold;
  letter-spacing: 0.03em;
}

.logo .logo--black {
  color: #212121;
}

@media screen and (max-width: 767px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.auth-nav {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1199px) {
  .auth-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .auth-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav {
    padding-top: 0;
  }
}

.auth-nav__item + .auth-nav__item {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .auth-nav__item + .auth-nav__item {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__item + .auth-nav__item {
    margin-top: 0;
    margin-left: 30px;
  }
}

.auth-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  padding: 0;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .auth-nav__link {
    font-size: 18px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav__link {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    line-height: 1.14;
  }
}

.auth-nav__link .auth-nav__icon {
  margin-right: 10px;
  fill: #757575;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__link:hover, .auth-nav__link:focus, .auth-nav__link:active {
  color: #2196F3;
}

.auth-nav__link:hover .auth-nav__icon,
.auth-nav__link:focus .auth-nav__icon {
  fill: #2196F3;
}

.main-hero {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Hero-1600.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Hero-1600.jpg");
  background-position: center;
  background-size: cover;
  background-color: chocolate;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .main-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Hero-1600-2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Hero-1600-2x.jpg");
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-hero {
    height: 400px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Hero-480.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Hero-480.jpg");
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .main-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Hero-480-2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Hero-480-2x.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-hero {
    height: 400px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Hero-768.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Hero-768.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .main-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Hero-768-2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Hero-768-2x.jpg");
  }
}

.main-hero .main-hero__item {
  width: 360px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .main-hero .main-hero__item {
    width: 696px;
  }
}

.main-hero .main-hero__item .main-hero__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  margin-top: 0;
  margin-bottom: 30px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .main-hero .main-hero__item .main-hero__title {
    font-size: 44px;
    line-height: 1.36;
    margin-bottom: 20px;
  }
}

.main-hero .main-hero__item .main-hero__botton {
  font-family: Roboto;
  font-weight: bold;
  color: white;
  background-color: #2196F3;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.87;
  min-width: 200px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1199px) {
  .about-us {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .about-us {
    padding-top: 94px;
  }
}

.about-us__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about-us__list {
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .about-us__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about-us__item {
    -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .about-us__item {
    -ms-flex-preferred-size: calc((100% - 30px * 3) / 4);
        flex-basis: calc((100% - 30px * 3) / 4);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about-us__item {
    margin: 15px;
  }
}

@media screen and (max-width: 767px) {
  .about-us__item:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

.about-us__icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.about-us__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  margin-bottom: 10px;
  margin-top: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .about-us__title {
    text-align: center;
  }
}

.about-us__text {
  color: #757575;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.profesion {
  padding-bottom: 94px;
  padding-top: 94px;
}

.profesion .profesion__title {
  color: #212121;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 50px;
  margin-top: 0;
  line-height: 1.16;
}

@media screen and (max-width: 1199px) {
  .profesion {
    display: none;
  }
}

.work-list .work-list__item {
  position: relative;
}

.work-list .work-list__item .work-list__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
}

.work-list__content {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.work-list .work-list__item + .work-list__item {
  margin-left: 30px;
}

.command {
  min-width: 320px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f4fa;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .command {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .command {
    padding-top: 94px;
    padding-bottom: 90px;
  }
}

.command .command__title {
  text-align: center;
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
  margin-top: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .command .command__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .command .command__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.command .command__list .command__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}

@media screen and (max-width: 767px) {
  .command .command__list .command__item:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .command .command__list .command__item {
    -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .command .command__list .command__item {
    width: calc((100% - 30px * 3) / 4);
  }
}

.command .command__list .command__item .command__initials {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.command .command__list .command__item .command__profesion {
  text-align: center;
  margin: 0;
  color: #757575;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.command .command__list .command__item .command-social {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 24px;
  width: 206px;
  margin-top: 16px;
}

.command .command__list .command__item .command-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.command .command__list .command__item .command-social__link:hover .command-social__icon {
  fill: #ffffff;
}

.command .command__list .command__item .command-social__link:hover {
  background-color: #2196F3;
}

.command .command__list .command__item .command-social__icon {
  fill: #afb1b8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 90px;
  }
}

.client .client__title {
  text-align: center;
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
  margin-top: 0;
}

.client .client__list {
  margin: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.client .client__list .client__item {
  margin: 15px;
  width: calc(50% - 30px);
}

@media screen and (min-width: 768px) {
  .client .client__list .client__item {
    width: calc((100% - 30px * 3) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .client .client__list .client__item {
    width: calc((100% - 30px * 6) / 6);
  }
}

.client .client__list .client__item .client__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client .client__list .client__item .client__link .client__icon {
  fill: #afb1b8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client .client__list .client__item .client__link:hover {
  border-color: #2196F3;
}

.client .client__list .client__item .client__link:hover .client__icon {
  fill: #2196F3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
}

.footer .logo {
  font-family: Raleway;
  color: #2196F3;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding: 0;
}

.footer .logo .footer__logo--white {
  color: #ffffff;
}

.footer__container--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1199px) {
  .footer__container--center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container--center {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container--center .footer__conteiner--adaptive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 603px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container--center .footer__conteiner--adaptive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 506px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 232px;
  margin: 0;
}

@media screen and (max-width: 1199px) {
  .footer__adress {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__text {
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer__list .footer__item {
  margin-bottom: 10px;
}

.footer__list .footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1199px) {
  .footer__list .footer__link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__title {
  display: block;
  margin-bottom: 20px;
  margin-top: 0;
  padding: 0;
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer__socials {
  width: 206px;
}

@media screen and (max-width: 767px) {
  .footer__socials {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1199px) {
  .footer__socials {
    text-align: center;
  }
}

.footer__socials .footer__icon {
  display: inline-block;
}

.footer__socials .footer__icon .footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__socials .footer__icon .footer__link .footer-icon_item {
  fill: #ffffff;
}

.footer__socials .footer__icon .footer__link:hover {
  background-color: #2196F3;
}

.footer__socials .footer-ikon + .footer-ikon {
  margin-left: 4px;
}

.footer-form_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form_container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 570px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-form_container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form_container {
    width: 570px;
  }
}

.footer-form {
  font-family: Roboto;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (max-width: 1199px) {
  .footer-form {
    text-align: center;
  }
}

.footer-input {
  margin-bottom: 20px;
  padding: 13px 16px;
  color: #fff;
  background-color: #2F303A;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .footer-input {
    width: 450px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-input {
    width: 358px;
  }
}

.footer-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 29px;
}

@media screen and (min-width: 1200px) {
  .footer-button {
    margin-left: 10px;
  }
}

.footer-button .form-button_icon {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 12px;
  background-repeat: no-repeat;
  background-image: url(../images/send.svg);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  padding-top: 93px;
  padding-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;
  overflow-y: scroll;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .backdrop {
    padding-top: 208px;
    padding-bottom: 207px;
    padding-left: 159px;
    padding-right: 159px;
  }
}

.is-hidden {
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  top: 50%;
  left: 50%;
  padding: 40px 10px 40px 10px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .modal {
    position: relative;
    padding: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    padding: 40px;
    width: 528px;
    height: 581px;
  }
}

.modal .close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  margin-right: 8px;
  margin-top: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

.modal .close .close-icon {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .close .close-icon:hover {
  fill: #2196F3;
}

.modal .form {
  width: 100%;
}

.modal .form .form-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 12px;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .modal .form .form-title {
    line-height: 1.15;
  }
}

.modal .form .label {
  display: block;
  margin-bottom: 4px;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal .form .form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 10px;
  position: relative;
}

.modal .form .form-label .form-input {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: 0;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .form .form-label .form-input:focus {
  border-color: #2196F3;
}

.modal .form .form-label .form-input:focus + .form-icon {
  fill: #2196F3;
}

.modal .form .form-label .form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  fill: #212121;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-size: auto;
}

.modal .form .checkbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 30px;
}

.modal .form .checkbox-container .label-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .modal .form .checkbox-container .label-checkbox {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal .form .checkbox-container .label-checkbox .checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.modal .form .checkbox-container .label-checkbox .checkbox:checked + .checkbox-icon {
  background: #2196F3;
  border: 0;
  border-color: #2196F3;
}

.modal .form .checkbox-container .label-checkbox .checkbox-icon {
  border: 2px solid #212121;
  fill: #ffffff;
  border-radius: 4px;
}

.modal .form .checkbox-container .label-checkbox .form-item {
  margin-left: 7px;
}

.modal .form .checkbox-container .label-checkbox .form-item .link-checkbox {
  color: #2196F3;
}

.modal .form .service.form-botton {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .button-container {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .button-container {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .button-container {
    padding-top: 94px;
    padding-bottom: 50px;
  }
}

.button-container .button-list .portfolio-button {
  border-radius: 4px;
  border: 1px solid transparent;
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .button-container .button-list .portfolio-button:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.button-container .button-list .portfolio-button .item {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-container .button-list .portfolio-button .item:hover {
  color: #ffffff;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.projeckt {
  padding-top: 40px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .projeckt {
    padding-top: 14px;
  }
}

.portfolio-style {
  padding: 0;
  margin: -15px;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.style-chyld {
  position: relative;
  margin: 14px;
  border: 1px solid #eeeeee;
}

.style-chyld:hover {
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.style-chyld:hover .title-menu_function {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.title-menu {
  position: absolute;
  overflow: hidden;
}

.title-menu_function {
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) {
  .title-menu_function {
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .title-menu_function {
    padding-top: 82px;
    padding-bottom: 77px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 768px) {
  .title-menu_function {
    padding-top: 52px;
    padding-bottom: 53px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .title-menu_function {
    padding-top: 66px;
    padding-bottom: 66px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.title-menu_item {
  margin: 0;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (min-width: 480px) {
  .title-menu_item {
    font-size: 18px;
  }
}

.style-title {
  padding-top: 20px;
  padding-left: 24px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  margin-top: 0;
  margin-bottom: 4px;
  color: #212121;
  letter-spacing: 0.06em;
}

.text-item {
  padding-left: 24px;
  padding-bottom: 20px;
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */