.main-container .portfolio-link, .main-container .link-nav, .main-container .auth-nav .link, .logo {
  text-decoration: none;
}

textarea {
  resize: none;
}

.site-nav, .auth-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-container img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container {
  font-family: Roboto, Calibri;
  letter-spacing: 0.03em;
  margin: 0 auto;
  padding: 0;
}

.main-container .portfolio-header {
  border-bottom: 1px solid #ececec;
}

.main-container textarea {
  resize: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page-header {
  position: relative;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .main-nav .icon-mobile {
    display: none;
  }
}

.menu-container {
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .menu-container {
    border-top: 1px solid #ECECEC;
    -webkit-transform: rotate(-0.16deg);
            transform: rotate(-0.16deg);
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    padding-top: 58px;
    padding-bottom: 82px;
  }
}

@media screen and (max-width: 767px) {
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu-button {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.site-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 84px;
}

@media screen and (min-width: 1199px) {
  .site-nav {
    margin-right: 305px;
  }
}

.site-nav .link {
  position: relative;
  letter-spacing: 0.02em;
  font-style: normal;
  font-weight: 500;
  color: #212121;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link.current {
  color: #2196F3;
}

.site-nav .link.current::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.site-nav .link:hover, .site-nav .link:focus, .site-nav .link:active {
  color: #2196F3;
}

@media screen and (max-width: 767px) {
  .site-nav .link {
    font-size: 18px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 768px) {
  .site-nav .link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.site-nav .link-nav::after {
  display: block;
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  bottom: 0;
  background: #2196F3;
  border-radius: 2px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link-nav:hover::after,
.site-nav .link-nav:focus::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.site-nav .child:nth-child(-n + 2) {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .site-nav .child:nth-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .site-nav {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .site-nav .child + .child {
    margin-left: 50px;
  }
}

.logo {
  font-family: Raleway;
  color: #2196F3;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo .logo-header {
  color: #000000;
}

.auth-nav {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1199px) {
  .auth-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .auth-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav {
    padding-top: 0;
  }
}

.auth-nav .child + .child {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .auth-nav .child + .child {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav .child + .child {
    margin-top: 0;
    margin-left: 30px;
  }
}

.auth-nav .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  padding: 0;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .auth-nav .link {
    font-size: 18px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav .link {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    line-height: 1.14;
  }
}

.auth-nav .link .icon-nav {
  margin-right: 10px;
  fill: #757575;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .link:hover, .auth-nav .link:focus, .auth-nav .link:active {
  color: #2196F3;
}

.auth-nav .link:hover .icon-nav,
.auth-nav .link:focus .icon-nav {
  fill: #2196F3;
}

.main-hero {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-position: center;
  background-size: cover;
  background-color: chocolate;
}
/*# sourceMappingURL=main.css.map */