.logo {
  @extend %link-stile-none;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: Raleway;
  color: $hover-color;
  font-weight: bold;
  letter-spacing: 0.03em;
  .logo--black {
    @include logo($title-color);
  }

  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (max-width: 1199px) {
    font-size: 24px;
    line-height: 1.16;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}
