.comand {
  min-width: 320px;
    padding-top: 94px;
    padding-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
    background-color: $comand-bg-color;

    @media screen and (min-width:480px) and (max-width:1199px){
      padding-top: 60px;
      padding-bottom: 60px;
    }

    @media screen and (min-width:1200px){
      padding-top: 94px;
      padding-bottom: 90px;
    }


    .comand-title {
      text-align: center;
      color: $title-color;
      font-weight: bold;
      font-size: 36px;
      line-height: 1.16;
      margin-bottom: 50px;
      margin-top: 0;
    }


    .team {
      @extend %list;
      
      @media screen and (min-width:768px) and (max-width:1199px){
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
      }

      @media screen and (min-width:1200px){

        display: flex;
        justify-content: space-between;
      }

      .photo {

        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
          0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        background: #ffffff;

        &:nth-child(-n + 3){

          @media screen and (max-width:767px){
            
            margin-bottom: 30px;
          }
        }
          @media screen and (min-width:768px) and (max-width:1199px){
            
            flex-basis:calc(50% - 30px);
            margin: 15px;
          }

          @media screen and (min-width:1200px){
            width: calc((100% - 30px * 3) / 4);
            
          }
        
        .comand-initials {
          margin-top: 30px;
          margin-bottom: 10px;
          text-align: center;
          color: $title-color;
          font-weight: 500;
          font-size: 16px;
          line-height: 1.18;
        }

        .icon-item {
          text-align: center;
          color: $main-text-color;
          font-size: 16px;
          line-height: 1.18;
          margin: 0;
        }

// cоц сети команды

        .social-link {

          display: flex;
          width: 44px;
          height: 44px;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          transition-property: background-color;
          transition-duration: 250ms;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

          &:hover .icon-about_as {
            fill: #ffffff;
          }
            &:hover {
            background-color: $hover-color;
          }
        }
        .comand-link {
          @extend %list;
          justify-content: space-around;         
          margin-left: auto;
          margin-right: auto;
          display: flex;
          padding-bottom: 24px;
          width: 206px;
          margin-top: 16px;
        }

        .icon-about_as {
          fill: #afb1b8;
          transition-property: fill;
          transition-duration: 250ms;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }

        
      }

      

    }

  }
 