.footer-form_container{
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width:768px) and (max-width:1199px){
    
    justify-content: center;
    
    width: 570px;
  }

  
    @media screen and (max-width:1199px){
     
      justify-content: center;
      
    }
    @media screen and (min-width:1200px){
      
      
      width: 570px;
    }
    
  }

  .footer-form {
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #FFFFFF;

    @media screen and (max-width:1199px){
      text-align: center;
    }
      
      }

      .footer-input {
        
        margin-bottom: 20px ;
        padding: 13px 16px;
        color:#fff;
        background-color: #2F303A;
        outline: 0;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
          
        @media screen and (min-width:480px){
          width: 450px;
          margin-bottom: 20px ;
        }
        @media screen and (min-width:1200px){
          width: 358px;
        }
        }

       
        .footer-button{
          @extend %button;
          display: inline-flex;
          align-items: center;
          padding-left: 29px;

          @media screen and (min-width:1200px){
           
            margin-left: 10px;
          }
          
      
          .form-button_icon {
              content:"";
              width: 24px;
              height: 24px;
              margin-left: 12px;
              
              background-repeat: no-repeat;
              background-image: url(../images/send.svg);
            }
          
        } 
        

      


