.comand-link {
    @extend %list;
    justify-content: space-around;
  
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 206px;
  
    margin-top: 16px;

    .social-link {
        display: flex;
        width: 44px;
        height: 44px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


        .icon-about_as {
            fill: #afb1b8;
            transition-property: fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          }

            &:hover .icon-about_as {
            fill: #ffffff;
          }
            &:hover {
            background-color: $hover-color;
          }



      }
  }