.main-container {
    font-family: Roboto, Calibri;
    letter-spacing: 0.03em;
    margin: 0 auto;
    padding: 0;
  }
    
    
    .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
  }


  