.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color:$footer-bg-color;


    .footer-container {
        display: flex;
        align-items: baseline;
        justify-content: space-between;


        .adress-container {
            width: 231px;
            margin: 0;


            .logo {
                font-family: Raleway;
                color: $hover-color;
                font-weight: bold;
                font-size: 26px;
                line-height: 1.19;
                letter-spacing: 0.03em;

                .logo-footer {
                    color: #ffffff;
                  }

                  
              }

              .adress {
                margin-top: 20px;
                margin-bottom: 10px;
                color: #ffffff;
                font-size: 14px;
                line-height: 1.71;
              }


              .footer-adres_container{

                @extend %list;
    
                .adres-item {

                  margin-bottom: 10px;
                }

                .adres-link {
                  @extend %link-stile-none;
                  font-size: 14px;
                  line-height: 1.71;
                  color: rgba(255, 255, 255, 0.6);
                }
              }
          }

          .footer-title {
            margin-bottom: 20px;
            margin-top: 0;
          
            padding: 0;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            color: #ffffff;
          }
          
          .footer-ikon {
            display: inline-block;

            .footer-link_socials {
              display: flex;
              width: 44px;
              height: 44px;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              background-color: rgba(255, 255, 255, 0.1);
              transition-property: background-color;
              transition-duration: 250ms;
              transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

              .footer-icon_item {
                fill: #ffffff;
              }

                &:hover {
                background-color: $hover-color;
              }
            }   
          }

        }
      }


  
      


  