.logo{
  @extend %link-stile-none;
  font-family: Raleway;
  color: $hover-color;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

.logo-header{
    color: #000000;
}

}