.main-nav {

    @extend %flex;
    align-items: center;
}

    .site-nav{

      @extend %list;
      @extend %flex;
      margin-left: 92px;

    }

      .child + .child{
  
        margin-left: 50px;

      }

        .link-nav::after{

          display: block;
          position: absolute;
          content: "";
          height: 4px;
          width: 100%;
          bottom: 0;
          transform: scale(0);
          background: $hover-color;
          border-radius: 2px;
          
          transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


          
          }

          .link-nav:hover::after,
          .link-nav:focus::after {
  
           transform: scaleX(1);
  
              }
  
  

             



  






  

  




    


