.main-container {
    font-family: Roboto, Calibri;
    letter-spacing: 0.03em;
    margin: 0 auto;
    padding: 0;

    

    .portfolio-header {
      border-bottom: 1px solid #ececec;
    } 

img{

    @extend %img-block;
    
 }


 textarea {
    resize: none;
  }

  .portfolio-link{
    @extend %link-stile-none;
  }

  .link-nav{
    @extend %link-stile-none;
  }

  .auth-nav .link{
    @extend %link-stile-none;
  }

  

}



