@mixin logo($color) {
  color: $color;
}

@mixin text($size, $height, $spacing) {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: $size;
  line-height: $height;
  letter-spacing: $spacing;
}

.visuallly-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
